#cities {
    padding: 10px;
    margin:40px;
    
  }
  .bottomWrap{
   position: relative;
  }
  .wrapperDiv{
      display: none;
      position: absolute;
      width: 200px;
      border: 1px solid #eee;
      padding: 10px;
      p{
        padding: 10px;
  
        &:hover{
          background: #ddd;
  
        }
      }
  }
  